.category-header
  .category-header__box
    = link_to "#", class: "category-header__box__root" do
      メルカリ
    >
    = link_to "#", class: "category-header__box__category-all" do
      カテゴリ一覧
    >
    = link_to "#", class: "category-header__box__category-1" do
      カテゴリー1
    >
    = link_to "#", class: "category-header__box__category-2" do
      カテゴリー2
    >
    = link_to "#", class: "category-header__box__category-3" do
      カテゴリー3
