.header
  .header__content
    .header__content__menu
      = link_to image_tag('logo.png',  height: '35px', width: '100px', class: 'header__content__menu__title'),root_path
        
      = form_with(url: "#", local: true, method: :get, class: "header__content__menu__search_form") do |form|
        .input_box
          = form.text_field :keyword, placeholder: "何かお探しですか？", class: "input_box__form"
          = form.submit "送信", class: 'input_box__btn'
    
    .header__content__bottom
      .category_box
        .category
        .brand
      .user_box
        -# - if user_signed_in?
        -#   .user_box__on
        -#     = link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'header__btn__all'
        -#     = link_to  "投稿する", new_post_path, class: "header__btn__post",class: 'header__btn__all'
        -# - else
        .user_box__off
          = link_to "新規会員登録", '#', class: 'sign-up-btn'
          = link_to "ログイン", '#', class: 'login-btn'