.main
  %section.menu1
    %div.menu1__content
      %h2.menu1__content__title 人生を変えるフリマアプリ
      %p.menu1__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      %div.menu1__content__btn
        = link_to "#" do
          -# = image_tag('5a902db97f96951c82922874.png', height: '53px', width: '180px')
        = link_to "#" do
          -# = image_tag('google-play-badge.png', height: '75px', width: '180px',class: 'image')
  %section.menu2
    %h2.menu2__title FURIMAが選ばれる3つの理由
    %ul.menu2__lists
      %li.menu2__lists__list
        %div.menu2__lists__list__pict
          %span.number 1
          = image_tag('pict-reason-01.jpg', height: '300px', width: '300px')
        %h3.menu2__lists__list__title
          %span ３分
          ですぐに出品
        %p.menu2__lists__list__text スマホで入力するだけで簡単に出品できる！
      %li.menu2__lists__list
        %div.menu2__lists__list__pict
          %span.number 2
          = image_tag('pict-reason-02.jpg', height: '300px', width: '300px')
        %h3.menu2__lists__list__title
          %span シンプル
          で使いやすい
        %p.menu2__lists__list__text めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.menu2__lists__list
        %div.menu2__lists__list__pict
          %span.number 3
          = image_tag('pict-reason-03.jpg', height: '300px', width: '300px')
        %h3.menu2__lists__list__title
          手数料
          %span 業界最安
        %p.menu2__lists__list__text 最大3%でお得に出品&購入！

  %section.menu3
    %div.menu3__inner
      %h3.menu3__inner__title 会員数日本一位
      %p.menu3__inner__text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      %div.menu3__inner__btn
        = link_to "ボタン"
        = link_to "ボタン"
  %section.menu4
    %h2.menu4__title FURIMAの特徴
    %div.menu4__lists
      %section.menu4__lists__item
        = image_tag('icon-01.png', height: '260px', width: '169px')
        %h3.menu4__lists__item__title 簡単に売り買いできる
        %p.menu4__lists__item__text スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.menu4__lists__item
        = image_tag('icon-03.png', height: '260px', width: '169px')
        %h3.menu4__lists__item__title 売上金は即日振込みに対応
        %p.menu4__lists__item__text 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.menu4__lists__item
        = image_tag('icon-04.png', height: '260px', width: '169px')
        %h3.menu4__lists__item__title 様々な支払いに対応
        %p.menu4__lists__item__text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %section.menu5
    %h2.menu5__title ピックアップカテゴリー
    %div.menu5__item_box
      %div.menu5__item_box__title
        = link_to "新規投稿商品"
      %div.menu5__item_box__items
        %div.menu5__item_box__items__item
          = link_to "#" do
            %image{src: "items/m76602137429_1.png",class: 'image'}
            %div.box
              %h3.box__title 商品名
              %div.box__content
                %ul
                  %li 1000円
                  %li 星０
                %p (税込)
        %div.menu5__item_box__items__item
          = link_to "#" do
            %image{src: "items/m76602137429_1.png",class: 'image'}
            %div.box
              %h3.box__title 商品名
              %div.box__content
                %ul
                  %li 1000円
                  %li 星０
                %p (税込)
        %div.menu5__item_box__items__item
          = link_to "#" do
            %image{src: "items/m76602137429_1.png",class: 'image'}
            %div.box
              %h3.box__title 商品名
              %div.box__content
                %ul
                  %li 1000円
                  %li 星０
                %p (税込)
  %section.menu6
    %h2.menu5__title ピックアップブランド
    %div.menu5__item_box
      %div.menu5__item_box__title
        = link_to "アーカイバ"
      %div.menu5__item_box__items
        %div.menu5__item_box__items__item
          = link_to "#" do
            %image{src: "items/mens.jpg",class: 'image'}
            %div.box
              %h3.box__title 商品名
              %div.box__content
                %ul
                  %li 1000円
                  %li 星０
                %p (税込)
        %div.menu5__item_box__items__item
          = link_to "#" do
            %image{src: "items/mens.jpg",class: 'image'}
            %div.box
              %h3.box__title 商品名
              %div.box__content
                %ul
                  %li 1000円
                  %li 星０
                %p (税込)
        %div.menu5__item_box__items__item
          = link_to "#" do
            %image{src: "items/mens.jpg",class: 'image'}
            %div.box
              %h3.box__title 商品名
              %div.box__content
                %ul
                  %li 1000円
                  %li 星０
                %p (税込)







  = link_to "#", class: "sell-btn" do
    %div 出品
    = icon('fas', 'camera', class: "camera-icon")