.items-index
  .category-bar
    .category-bar__box
      %h1.category-bar__text 人気のカテゴリー
      .category-bar__links
        =link_to "#", class: "category-bar__links__link" do
          .category-bar__links__link__btn
            レディース
        =link_to "#", class: "category-bar__links__link" do
          .category-bar__links__link__btn
            メンズ
        =link_to "#", class: "category-bar__links__link" do
          .category-bar__links__link__btn
            家電・スマホ・カメラ
        =link_to "#", class: "category-bar__links__link" do
          .category-bar__links__link__btn
            おもちゃ・ホビー・グッズ
  .category-items
    .category-items__area
      .category-items__area__texts
        %h1.category-items__area__texts__text レディース新着アイテム
        = link_to "#", class: "category-items__area__texts__more" do
          もっと見る >
      .category-items__area__images
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/m76602137429_1.png", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
    .category-items__area
      .category-items__area__texts
        %h1.category-items__area__texts__text メンズ新着アイテム
        = link_to "#", class: "category-items__area__texts__more" do
          もっと見る >
      .category-items__area__images
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/mens.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
    .category-items__area
      .category-items__area__texts
        %h1.category-items__area__texts__text 家電・スマホ・カメラ新着アイテム
        = link_to "#", class: "category-items__area__texts__more" do
          もっと見る >
      .category-items__area__images
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/clock.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
    .category-items__area
      .category-items__area__texts
        %h1.category-items__area__texts__text おもちゃ・ホビー・グッズ新着アイテム
        = link_to "#", class: "category-items__area__texts__more" do
          もっと見る >
      .category-items__area__images
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "category-items__area__images__box" do
          %image{src: "items/goods.jpg", class: "category-items__area__images__box__image"}
          %h1.category-items__area__images__box__text
            テスト中テスト中テスト中
  .brand-bar
    .brand-bar__box
      %h1.brand-bar__text 人気のブランド
      .brand-bar__links
        =link_to "#", class: "brand-bar__links__link" do
          .brand-bar__links__link__btn
            シャネル
        =link_to "#", class: "brand-bar__links__link" do
          .brand-bar__links__link__btn
            ルイヴィトン
        =link_to "#", class: "brand-bar__links__link" do
          .brand-bar__links__link__btn
            シュプリーム
        =link_to "#", class: "brand-bar__links__link" do
          .brand-bar__links__link__btn
            ナイキ
  .brand-items
    .brand-items__area
      .brand-items__area__texts
        %h1.brand-items__area__texts__text シャネル新着アイテム
        = link_to "#", class: "brand-items__area__texts__more" do
          もっと見る >
      .brand-items__area__images
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/C.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
    .brand-items__area
      .brand-items__area__texts
        %h1.brand-items__area__texts__text ルイヴィトン新着アイテム
        = link_to "#", class: "brand-items__area__texts__more" do
          もっと見る >
      .brand-items__area__images
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/L.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
    .brand-items__area
      .brand-items__area__texts
        %h1.brand-items__area__texts__text シュプリーム新着アイテム
        = link_to "#", class: "brand-items__area__texts__more" do
          もっと見る >
      .brand-items__area__images
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/S.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
    .brand-items__area
      .brand-items__area__texts
        %h1.brand-items__area__texts__text ナイキ新着アイテム
        = link_to "#", class: "brand-items__area__texts__more" do
          もっと見る >
      .brand-items__area__images
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
        =link_to "#", class: "brand-items__area__images__box" do
          %image{src: "items/N.jpg", class: "brand-items__area__images__box__image"}
          %h1.brand-items__area__images__box__text
            テスト中テスト中テスト中
